/*google font*/
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Playfair+Display+SC');


body {
    font-family: 'Playfair Display SC', serif;
}

#header h1 {
    margin-top: 50px;
}

form {
    margin: 50px auto;
}

#input-field {
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
}

#main h3 {
    text-align: center;
    overflow: hidden;
}

#to-do-list {
    font-size: 18px;
    color: #4164bf;
    margin: 0 25px;
    font-family: Coming Soon, cursive
}

#done-list {
    font-size: 18px;
    color: #ed2715;
    margin: 0 25px;
    font-family: Coming Soon, cursive
}

#clearBtn {
    margin-top: 25px;
}

li:first-child {
    margin-top: 50px;
}