/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Playfair+Display+SC');


body {
    font-family: 'Playfair Display SC', serif;
}

#header h1 {
    margin-top: 50px;
}

form {
    margin: 50px auto;
}

#input-field {
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
}

#main div {
    padding: 0;
}

#main h3 {
    text-align: center;
    margin-bottom: 30px;
}

#to-do-list, #done-list {
    height: 500px;
    border: 2px solid #8e7979;
    line-height: 2.1em;
    font-size: 18px;
    color: #4164bf;
    margin: 0 20px;
    font-family: Coming Soon, cursive
}

#done-list {
    color: #ed2715;
}

#clearBtn {
    margin: 25px auto;
    color: #000;
}

li:first-child {
    margin-top: 50px;
}