/*google font*/
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Playfair+Display+SC');


body {
    padding: 15px;
    font-family: 'Playfair Display SC', serif;
}

#header h1 {
    margin-top: 50px;
}

form {
    margin: 50px auto;
}

#inputField {
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
}

#main h3 {
    text-align: center;
}

li:first-child {
    margin-top: 50px;
}